<div class="content">
	<h1>Welcome to Challenge 2: RESTful CRUD</h1>
	<div id="form_for_show">
		<form id="get_users">
			<input id="users" type="submit" value="Show All Users">
		</form>
		<form id="get_notes">
			<input id="notes" type="submit" value="Show All Notes">
		</form>
	</div>
</div>
<div class="added">
</div>